## Kyphosis - Prediction of a spinal condition in children by decision tree classifier.

In [29]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.tree import DecisionTreeClassifier # Import Decision Tree Classifier
from sklearn.model_selection import train_test_split # Import train_test_split function
from sklearn import metrics #Import scikit-learn metrics module for accuracy calculation

In [30]:
df=pd.read_csv('kyphosis.csv')

In [31]:
df

   Kyphosis  Age  Number  Start
0    absent   71       3      5
1    absent  158       3     14
2   present  128       4      5
3    absent    2       5      1
4    absent    1       4     15
..      ...  ...     ...    ...
76  present  157       3     13
77   absent   26       7     13
78   absent  120       2     13
79  present   42       7      6
80   absent   36       4     13

[81 rows x 4 columns]

In [32]:
df.head()

  Kyphosis  Age  Number  Start
0   absent   71       3      5
1   absent  158       3     14
2  present  128       4      5
3   absent    2       5      1
4   absent    1       4     15

In [33]:
df.info

<bound method DataFrame.info of    Kyphosis  Age  Number  Start
0    absent   71       3      5
1    absent  158       3     14
2   present  128       4      5
3    absent    2       5      1
4    absent    1       4     15
..      ...  ...     ...    ...
76  present  157       3     13
77   absent   26       7     13
78   absent  120       2     13
79  present   42       7      6
80   absent   36       4     13

[81 rows x 4 columns]>

In [34]:
df.columns

Index(['Kyphosis', 'Age', 'Number', 'Start'], dtype='object')

In [35]:
df.shape

(81, 4)

In [36]:
df.isnull()

    Kyphosis    Age  Number  Start
0      False  False   False  False
1      False  False   False  False
2      False  False   False  False
3      False  False   False  False
4      False  False   False  False
..       ...    ...     ...    ...
76     False  False   False  False
77     False  False   False  False
78     False  False   False  False
79     False  False   False  False
80     False  False   False  False

[81 rows x 4 columns]

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 81 entries, 0 to 80
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Kyphosis  81 non-null     object
 1   Age       81 non-null     int64
 2   Number    81 non-null     int64
 3   Start     81 non-null     int64
dtypes: int64(3), object(1)
memory usage: 2.7+ KB

In [38]:
df.isnull().values.any()

False

In [39]:
df.isnull().sum()

Kyphosis    0
Age         0
Number      0
Start       0
dtype: int64

## Target Variable

In [40]:
y=df['Kyphosis']

In [41]:
y

0      absent
1      absent
2     present
3      absent
4      absent
       ...
76    present
77     absent
78     absent
79    present
80     absent
Name: Kyphosis, Length: 81, dtype: object

In [42]:
x=df[['Age', 'Number', 'Start']]

In [43]:
x.head()

   Age  Number  Start
0   71       3      5
1  158       3     14
2  128       4      5
3    2       5      1
4    1       4     15

In [44]:
y.head()

0     absent
1     absent
2    present
3     absent
4     absent
Name: Kyphosis, dtype: object

# Split dataset into training set and test set

In [45]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=1)

# Building Decision Tree Model

In [46]:
clf = DecisionTreeClassifier()

In [48]:
clf = clf.fit(x_train,y_train)

In [50]:
y_pred = clf.predict(x_test)

# Evaluating Model

In [51]:
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.68